<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826154873845-9n1vqk797jnrvarkd3stsehjhl6ff1le.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826154873845-9n1vqk797jnrvarkd3stsehjhl6ff1le</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>826154873845-2uber91hjcgap6qr688uo3lqeim47mjj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGJ4Ds_DsWNb_zPWIeJXyOVW6RyOxb3i0</string>
	<key>GCM_SENDER_ID</key>
	<string>826154873845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.recipease.kitchen</string>
	<key>PROJECT_ID</key>
	<string>recipe-app-c2fcc</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-app-c2fcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826154873845:ios:28605276c137f58a5be6bc</string>
	<key>DATABASE_URL</key>
	<string>https://recipe-app-c2fcc-default-rtdb.firebaseio.com</string>
</dict>
</plist>