<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store</string>

  <key>signingStyle</key>
  <string>manual</string>

  <key>codeSigningIdentity</key>
  <string>iPhone Distribution</string>

  <key>provisioningProfiles</key>
  <dict>
    <key>com.recipease.kitchen</key>
    <string>RecipEase_ios_app_store_1755472796</string>
    <key>com.recipease.kitchen.ShareExtension</key>
    <string>ShareExtension_ios_app_store_1755472796</string>
  </dict>

  <key>uploadSymbols</key>
  <true/>
  <key>compileBitcode</key>
  <false/>
</dict>
</plist>
